PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://rohitkrsah27_db_user:6JIbsfMpZfZNJ3S3@cluster0.8kh4syh.mongodb.net/veridex_finance?retryWrites=true&w=majority&appName=Cluster0
CLIENT_URL=http://localhost:5173
